[Unit]
Description=Keycloak Identity and Access Management
After=network.target postgresql.service

[Service]
Type=idle
User=keycloak
Group=keycloak
ExecStart=/opt/keycloak/bin/kc.sh start \
  --db=postgres \
  --db-url=jdbc:postgresql://localhost:5432/keycloak \
  --db-username=keycloak \
  --db-password=3044010 \
  --https-port=8477 \
  --https-key-store-file=/opt/keycloak/certs/keystore.p12 \
  --https-key-store-password=changeit \
  --http-enabled=false \
  --hostname-strict=false \
  --log-level=INFO
WorkingDirectory=/opt/keycloak
TimeoutStopSec=300
Environment="KEYCLOAK_ADMIN=admin"
Environment="KEYCLOAK_ADMIN_PASSWORD=admin"
Environment="KC_LOG_LEVEL=INFO"

[Install]
WantedBy=multi-user.target
